body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  background: hsl(270, 3%, 87%);
  color: ;
}

.about {
 display: flex;
 justify-content: space-between;
 margin:  ;
 padding: ;
 width: 70%;
 place-items: center;
}
img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
}
nav {
  display: flex;
  justify-content: flex-end;
  position: sticky;
}
nav a {
  text-decoration: none; /* Remove underline */
  margin-right: 15px; /* Adjust spacing between links */
  padding: 0.5rem;
}
.dataa {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 10px;
}
.nav-icon {
  display: none;
}
nav a::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  /* transform: scaleX(0); 
  transform-origin: bottom right; */
  transition: all 0.4s ease;
}

nav a:hover::after {
  /* transform: scaleX(1); 
  transform-origin: bottom left; */
  width: 100%;
  background: hsl(278, 68%, 11%);
}
.aboutdes {
  background: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%)) ;
  box-sizing: border-box;
  border-radius: 10px;
  padding: ;
  
} 
form {
  display: grid;
  grid-auto-flow: row;
  width: 30%;
  margin: 0 auto;
  padding: 30px;
}
input {
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
textarea {
  margin-bottom: 16px;
}
.insta {
  padding: 6px;
  transition: transform 0.3s ease-in-out;
}
.insta:hover {
  transform: scale(1.1); /* Enlarge on hover */
}
input[type="submit"] {
  background-color: hsl(278, 68%, 11%);
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
input[type="submit"]:hover {
  transform: scale(1.1); /* Enlarge on hover */
}
.skill {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  padding: 10px;
}

@media only screen and (max-width : 768px){
  .dataa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.4 ease;

    &.active {
      background: black;
      opacity: 1;
      left: 0px;
    }
  }
  .nav-icon {
    display: block;
    cursor: pointer;
  }

}
