body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  background: hsl(270, 3%, 87%);
  color: ;
}

.hom {
  display: flex;
  justify-content: space-between;
  place-content: center;
  place-items: center;
}
h2 {
  animation: typingEffectAnimation 2.5s steps(30, end);
}
.resum {
  background: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
}
.home-cont-butn {
  background: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  padding: 6px;
  width: 100px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 8px;
}
.intro {
  padding-right: 20px;
}
.intropic {
  
}
.btns {
  padding: 10px;
}

.about {
 display: flex;
 justify-content: space-between;
 place-content: center;
  place-items: center;
}
img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 3px solid #4db5ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 14px;
  
}
nav {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  font-weight: 550;
}
nav a {
  text-decoration: none; /* Remove underline */
  margin-right: 15px; /* Adjust spacing between links */
  padding: 0.5rem;
}
.dataa {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 10px;
}
.nav-icon {
  display: none;
}
nav a::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  /* transform: scaleX(0); 
  transform-origin: bottom right; */
  transition: all 0.4s ease;
}

nav a:hover::after {
  /* transform: scaleX(1); 
  transform-origin: bottom left; */
  width: 100%;
  background: hsl(278, 68%, 11%);
}
.aboutdes {
  background: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%)) ;
  color: hsl(270, 30%, 87%);
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 30px;
  width: 40%;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.aboutpic {
  display: flex;
  justify-content: flex-start;
  position: sticky;
}
form {
  display: grid;
  grid-auto-flow: row;
  width: 30%;
  margin: 0 auto;
  padding: 30px;
}
input {
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
textarea {
  margin-bottom: 16px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.insta {
  padding: 6px;
  transition: transform 0.3s ease-in-out;
}
.insta:hover {
  transform: scale(1.1); /* Enlarge on hover */
}
input[type="submit"] {
  background-color: hsl(278, 68%, 11%);
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
input[type="submit"]:hover {
  transform: scale(1.1); /* Enlarge on hover */
}
.skill {
  display: grid;
  grid-auto-flow: column;
  width: 90%;
  padding: 14px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  justify-content: space-evenly;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width : 768px){
  .dataa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 20px;
    left: -110%;
    opacity: 1;
    transition: all 0.4 ease;

    &.active {
      background: black;
      opacity: 1;
      left: 0px;
    }
  }
  .me {
    left: 20px;
  }
  .nav-icon {
    display: block;
    cursor: pointer;
    position: ;
  }
  .hom {
    display: flex;
    flex-direction: column;
  }
  .about {
    display: flex;
    flex-direction: column;
  }
  .aboutdes {
    width: 90%;
    margin: 0 auto;
  }
  .aboutpic {
    margin: 4px;
  }
 .skill {
  display: flex;
  flex-direction: column;
 }
}
@keyframes typingEffectAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}